body {
    font-family: 'Droid Serif', serif;
}

.bold {
    font-weight: bold;
}

table, tr, th, td {
    border: 2px solid #0d0706;
    border-collapse: collapse;
}

tr:nth-child(even) {
    /*background-color: #e7dad8;*/
}

tr:nth-child(odd) {
    /*background-color: #c5a49e;*/
}

.btn, button {
    border: 1px solid;
    border-radius: 5px;
}